{% extends "base.html" %}
{% block title %}
Contact
{% endblock %}

{% block content %}
<style>
img {
    display: block;
    margin: 0 auto;
}
    .contact{text-align:center;}
</style>

<!--<div class="alblack">-->
<!--<div class="mitro">-->
<!--=-->
    <!--<p class="whitefont">Umhyunsik</p>-->

    <!--<p class="whitefont">You can visit Dennis Adelmann in his office at Hafenstrasse 25-27 in 68159 Mannheim / Ger. If you like to write him an e-mail,-->
        <!--you can use this mail-address salve [at] dennisadelmann .de. If you are a fan or client and want to get updates of the work of-->
        <!--Dennis Adelmann you can follow him on Twitter — Instagram — Behance — Facebook.</p>-->


<div class="logo">
     <!--<img src="../static/image/iabstudio%20logo.png" width="50%">-->
</div>
<div class= "contact">
<img src="../static/image/iabstudio%20logo.png" width="50%">
    <br>
    <br>
<h2> CONTACT US</h2>
    <br>
    <br><br><br>
<p>070-8817-0626</p>

<p>전화 상담: 월~금요일 PM 2:00 – PM 9:00</p>
    <br>
    <br><br><br>
    <br>
    <br><br><br><br>

</div>

<!--
{% if submit %}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
                 <h1><strong>Success!</strong></h1><br>
 {% endif %}

-->



{% endblock %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

