{% extends "base.html" %}
{% block title %}
main
{% endblock %}

{% block content %}


    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">IAB STUDIO</h1>
      </div>

    </section>
<header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

<!--<div id="carousel1" class="carousel slide" data-ride="carousel">-->
	    <!--<ol class="carousel-indicators">-->
	      <!--<li data-target="#carousel1" data-slide-to="0" class="active"></li>-->

        <!--</ol>-->
  <!--<div class="carousel-inner" role="listbox">-->
	      <!--<div class="item active"><img src="../static/image/IAB(MAIN).jpeg" alt="First slide image" class="center-block image-fill">-->
	        <!--<div class="carousel-caption">-->

	          <!--<h3>12</h3>-->

<!--<style type="text/css" style="color: #FFFFFF">-->
<!--a:link {text-decoration: none; color: #FFFFFF;}-->
<!--a:visited {text-decoration: none; color: #FFFFFF;}-->
<!--a:active {text-decoration: none; color: #FFFFFF;}-->
<!--a:hover {text-decoration: underline; color: red;}-->
<!--</style> I'VE ALWAYS BEEN </a></p>-->
	        <!--</div>-->

<!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--
<div class="item"><img src="../static/image/IAB_1.jpg" alt="Second slide image" class="center-block image-fill">
	        <div class="carousel-caption">
	          <h3>Alternative Rock</h3>
	          <p><a href="https://www.youtube.com/watch?v=8yvGCAvOAfM" target="_blank" title = "Go Enjoy!" class="best">

<style type="text/css" style="color: #FFFFFF">
a.best:link {text-decoration: none; color: #FFFFFF;}
a.best:visited {text-decoration: none; color: #FFFFFF;}
a.best:active {text-decoration: none; color: #FFFFFF;}
a.best:hover {text-decoration: underline; color: yellow;}
</style> Thirty Seconds To Mars - The Kill (Bury Me) <br>
	            </a></p>
	        </div>
          </div>

  </div>

<a class="left carousel-control" href="./static/image/IAB_1.jpg" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel1" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a></div>
	  <article id="main">

</div>
!-->

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card"><a href="/project1">
            <img src="../static/image/IAB%20LIFE%20IN%20COLOR.jpg" class="images center-block">
            <p class="card-text">LIFE IN COLOR</p>
          </a>
          </div>
          <div class="card"><a href="/project2">
            <img src="../static/image/IAB_2.jpg" class="images center-block">
            <p class="card-text">I GET LIFTED X BEENZINO</p>
          </div>
          <div class="card"><a href="/project3">
            <img src="../static/image/12.jpg" class="images center-block">
            <p class="card-text">1 2 </p>
          </a>
          </div>

          <div class="card"><a href="/project4">
            <img src="../static/image/IAB%20UP%20ALL%20NIGHT.jpg" class="images center-block">
            <p class="card-text">UP ALL NIGHT</p>

          </a>
          </div>


          <div class="card"><a href="/project6">
            <img src="../static/image/iab%2024,26.jpg" class="images center-block">
            <p class="card-text">24:26</p>
          </a>
          </div>

          <div class="card"><a href="/project7">
            <img src="../static/image/iab%20jazzyfact.jpg" class="images center-block">
            <p class="card-text">JAZZY FACT</p>
          </a>
            <!--
          </div>
          <div class="card"><a href="/project8">
            <img src="../static/image/8.jpg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>
          <div class="card"><a href="/project9">
            <img src="../static/image/9.jpg" class="images center-block">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </a>
          </div>
          <div class="card"><a href="/project5">
            <img src="../static/image/iab%20dali.jpg" class="images center-block">
            <p class="card-text">Dali Van Picasso</p>
          </a>
          </div>
          !-->
        </div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>

      </div>
    </footer>


{%endblock content%}
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
