{% extends "base.html" %}
{% block title %}
main
{% endblock %}

{% block content %}


<img src="../static/image/iab%2024,26.jpg" class="main_image center-block">
<p class="text-danger font">24:26</p>
<p>아마 사람들이 빈지노를 제일 많이 알게된 앨범이라 생각한다.</p>
<p>당시 서울대 출신 랩퍼라는 타이틀과 지금까지들의 랩퍼들 생김새와 다르게 훈훈하게 생겨 많은 여성들의 팬을 보유했다.</p>
<p>이 앨범 제목 24:26 는 24살부터 26살까지의 인생을 작업물로 만든 것이다.</p>
<p>대표적으로 어장관리를 수족관에 재치있게 비유한 Aqua Man</p>
<p>힙합 고유의 문법을 활용하여 자신이 내일 죽는다는 가정하에 쓴 비장한 스토리텔링 랩 'If I Die Tomorrow' 등이 있다.</p>
<p>내가 이 앨범을 들으면서 느낀점은 굉장히 쉽게 따라 부를 수있는 훅을 잘 만든다는 점이다.</p>
<p>AQUA MAN을들으면 모든사람들이 헤엄 헤엄을 자동적으로 뱉고있는걸 보면 말이다.</p>
<p>아무래도 서울대 조소과를 나와 그림을 많이 그려본 사람이라 그런지 사람들이 가사를 들을때 한폭의 그림과정을 보는것같다고 표현을 자주 하곤 하는데</p>
<p>내가 제일 좋게 들은 트랙은 1번트랙 NIKE SHOES 과 8번트랙 IF I DIE TOMORROW이다.</p>
<p>각 트랙에서 좋아한 가사가 많지만 그 중 하나를 뽑자면 "추억을 소리처럼 키우면 눈을 감아도 보이는 THEATER" 이 가사역시 흑백 필름의 영화 가 나오는 영화관에서 눈을 감고있는 사람을 상상가게 한다.</p>
<br><br><br>
<p>
TRACK LIST
</p>
<p>1. Nike Shoes (feat. Dynamic Duo) (작곡: 프라이머리)</p>
<p>2. 진절머리 (feat. Okasian, Dok2) (작곡: Dok2)</p>
<p>3. Boogie On & On (작곡: 이다흰)</p>
<p>4. Aqua Man (작곡: 진보)</p>
<p>5. Summer Madness (feat. The Quiett) (작곡: Shimmy Twice)</p>
<p>6. I'll Be Back (작곡: 오정일 from Aleatorik)</p>
<p>7. Profile (feat. The Quiett & Dok2) (작곡: Dok2)</p>
<p>8. If I Die Tomorrow (작곡: Bart (philtre) of Planet Shiver)</p>
<p>9. Always Awake (Bonus Track) (작곡: Shimmy Twice)</p>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//korest.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<p class="text-danger font">This is the most beautiful picture. nothing is more beautiful than this picture</p>


{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>