{% extends "base.html" %}
{% block title %}
main
{% endblock %}

{% block content %}


<img src="../static/image/iab%20waves%20like.jpg" class="main_image center-block"/>

<p class="text-danger font">WAVES LIKE</p>
<p>빈지노가 군대가기전 마지막으로 낸 EP이다.</p>
<p>LIFES LIKE에 프로듀서로 참여한 Shimmy twice 와 7년 만에 낸 음반이라 사람들의 화두를 많이 끌었다.</p>
<p>또한 빈지노가 군대에 입대하는 날 오후 12:00에 내놓고가 마지막 팬들에게 준 선물이라 하였는데</p>
<p>팬들의 반응은 재지팩트 이지만 12의 빈지노 스타일이라 많이 아쉽다는 팬들이 대다수였다.</p>

<p>내가 가장 좋게 들은 트랙은 journey, cross the street , on my wave 를 뽑았다.</p>
<p>아무래도 군대를 앞둔 빈지노에게서  모든 음반에서 군대라는 부담감이 느껴지는 가사를 많이 볼수있었는데</p>
<p>journey의 후렴부분인 Fast forward to the next one ,</p>

<p>on my wave에서의 가사에서도</p>
<p>앞에 놓인 과도기는 파도와 같애 내 앞에 놓인 파도에 날 맡겨야 할때면 On my wave 라는 가사로 재치있게 자신의 얘기를 풀어쓴거같다.</p>



<br><br><br>
<p><a href ="https://www.youtube.com/watch?v=qLxKXVtZt0E"</a>[Track List]</p>
<p>01. Journey</p>
<p>02. Cross The Street</p>
<p>03. 하루종일</p>
<p>04. Young Knight</p>
<p>05. On My Wave (Feat. 김효은)</p>
<p>06. Don Emoji$</p>
<p>07. Up up and away</p>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//korest.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>