{% extends "base.html" %}
{% block title %}
main
{% endblock %}

{% block content %}


<img src="../static/image/IAB%20UP%20ALL%20NIGHT.jpg" class="main_image center-block">

<p class="text-danger font">UP ALL NIGHT</p>
<p>여름을 연상시키는 앨범사진.</p>
<p>노래 역시 HOW DO I LOOK, 미쳤어 , UP ALL NIGHT 을 들으면 여름을 연상시키는 비트와 가사가 많이 수록되어있다.</p>
<p>나 역시 여름만되면 이상하게 미쳤어의 도입 비트부분이 날 시원하게 만드는 느낌이라(?) 기분이 좋아진다.</p>
<p>재밌던 가사중 하나는 UP ALL NIGHT "I think i'm fucked up 너 때문에 그 와중에 넌 비싼 밥만 먹고있네 후식으로 벌꿀 얹은 아이스크림"이라는 가사로 전남친 의 찌질함을 재치있게 가사를 담았다.</p>
<br><br><br>
<p><a href ="https://www.youtube.com/watch?v=FFMw_Y_iCZs"</a>[Track List]</p>
<p>1. Jackson Pollock D*ck</p>
<p>2. How Do I Look ?</p>
<p>3. 미쳤어 (feat. Don Mills)</p>
<p>4. Up All Night (feat. Mayson The Soul)</p>
<p>5. I Don’t Have To Work</p>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//korest.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>