{% extends "base.html" %}
{% block title %}
main
{% endblock %}

{% block content %}


<img src="../static/image/iab%20jazzyfact.jpg" class="main_image center-block">

<p class="text-danger font">Jazzyfact</p>
<p>내가 빈지노에대한 존경심이 생긴 앨범이다.</p>
<p>대학생의 찌질한 감성으로 많은 사람들의 공감을 사 2010년에 나왔지만 아직도 사람들은 이 찌질한 감성을 찾아 듣곤한다.</p>
<p>내가 제일 좋아한 트랙은 5번 kissinterlude "오늘밤 이 거리위에 번진 우리 둘의 입김 쥐가 죽었나봐 너무 조용한 이 길" 이 가사를 웃음을 지으면서 들었던 것이 기억난다.</p>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//korest.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>